@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

/* NavBar */

.nav-github img{
    margin-top: 1px;
    opacity: 0.6;
}

.nav-github img:hover{
    transition-duration: 0.3s;
    transform: scale(1.05);
    opacity: 0.8;
}

/* Content */

.content-container {
    padding: 20px;
}

.centered-container {
    max-width: 780px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

select:invalid {
    color: gray;
}